
<body id="top">
  <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-12 mx-auto">
                  <h1 class="text-white text-center">Discover. SnowRemovalLab</h1>
                  <h6 class="text-center">platform that helps plan and show snowplow truck destinations</h6>
              </div>

          </div>
      </div>
  </section>

  <section class="featured-section">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                  <div class="custom-block bg-white shadow-lg">
                      <a href="topics-detail.html">
                          <div class="d-flex">
                              <div>
                                  <h5 class="mb-2">Design</h5>
                                  <p class="mb-0">When you search for SnowRemoval tool , you will notice that SnowRemovalLab will give you the best destination.</p>
                              </div>

                              <span class="badge bg-design rounded-pill ms-auto">*</span>
                          </div>

                          <img src="../../../assets/images/713bd3a0-9d89-11ed-b06d-57d441e1604e_ORIGINAL.jpg" class="custom-block-image img-fluid" alt="">
                      </a>
                  </div>
              </div>

              <div class="col-lg-6 col-12">
                  <div class="custom-block custom-block-overlay">
                      <div class="d-flex flex-column h-100">
                       

                          <div class="custom-block-overlay-text d-flex">
                              <div>
                                  <h5 class="text-white mb-2"></h5>
                                  <p class="text-white">Our platform is designed to help you plan and showcase efficient routes for your snowplow trucks.</p>                                        
                              </div>
                              <span class="badge bg-finance rounded-pill ms-auto">*</span>
                          </div>

                          <div class="social-share d-flex">

                              <ul class="social-icon">
                                  <li class="social-icon-item">
                                      <a href="#" class="social-icon-link bi-twitter"></a>
                                  </li>

                                  <li class="social-icon-item">
                                      <a href="#" class="social-icon-link bi-facebook"></a>
                                  </li>

                                  <li class="social-icon-item">
                                      <a href="#" class="social-icon-link bi-pinterest"></a>
                                  </li>
                              </ul>

                              <a href="#" class="custom-icon bi-bookmark ms-auto"></a>
                          </div>

                          <div class="section-overlay"></div>
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </section>

<!-- T E S T I M O N I A L S -->
<section id="testimonials">
<div class="container">
  <div class="title-block">
    <h2>SnowRemoval for your destination</h2>
    <p>Intelligent Route Mapping</p>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="testimonial-box">
        <div class="row personal-info">
          <div class="col-md-2 col-xs-2">
            <div class="profile-picture review-one"></div>
          </div>
          <div class="col-md-10 col-xs-10">
            <h6>SnowRemovalLab<span class="rating">*<i class="icon ion-md-star"></i></span></h6>
            <small>Intelligent | Mapping for your truck</small>
            <img src="../../../assets/images/rouynnorandamapp.jpg" class="custom-block-image2 img-fluid" alt="">
          </div>
        </div>
     
      </div>
    </div>
    <div class="col-md-6">
      <div class="testimonial-box">
        <div class="row personal-info">
          <div class="col-md-2 col-xs-2">
            <div class="profile-picture review-one"></div>
          </div>
          <div class="col-md-10 col-xs-10">
            <h6>Description <span class="rating">* <i class="icon ion-md-star"></i></span></h6>
            <small>Intelligent Route Mapping (IRP)</small>
          </div>
        </div>
        <br>
        <p>Rouyn-Noranda Snow Removal Trucks is your premier source for reliable and efficient snow removal services in the Rouyn-Noranda area. Our fleet of state-of-the-art snow removal trucks is equipped to handle even the toughest winter conditions, ensuring your roads, driveways, and parking lots are clear and safe. With strategically located service points across Rouyn-Noranda, we provide prompt and professional snow clearing services right where you need them. Trust Rouyn-Noranda Snow Removal Trucks to keep your pathways accessible and hazard-free throughout the winter season. 
           </p>
        <br>
        
       
      </div>
    </div>
  </div>
</div>
</section>
<!-- E N D  T E S T I M O N I A L S -->




<!--  F O O T E R  -->
<footer>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h5>Seo Ranking</h5>
      <ul>
    
        <li><a href="#">Developer API</a></li>
        <li><a href="#">Support</a></li>
    
      </ul>
    </div>
    <div class="col-md-3">
      <h5>Main Tools</h5>
      <ul>
        <li><a href="#">Rank Tracker</a></li>
        <li><a href="#">Backlink Checker</a></li>
       
      </ul>
    </div>
    <div class="col-md-3">
      <h5>Blog</h5>
      <ul>
        <li><a href="#">Get High Quality Backlinks</a></li>
        <li><a href="#">Top Google Searches</a></li>
  
      </ul>
    </div>
    <div class="col-md-3">
      <h5>Rouyn-Noranda</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur scelerisque, tortor nec mattis feugiat, velit purus euismod odio, quis vulputate velit urna.</p>
      <p><a href="mailto:sales@theseocompany.com" class="external-links"></a></p>
    </div>
  </div> 
  <div class="divider"></div>
  <div class="row">
    <div class="col-md-6 col-xs-12">
        <a href="#"><i class="icon ion-logo-facebook"></i></a>
        <a href="#"><i class="icon ion-logo-instagram"></i></a>
        <a href="#"><i class="icon ion-logo-twitter"></i></a>
        <a href="#"><i class="icon ion-logo-youtube"></i></a>
      </div>
      <div class="col-md-6 col-xs-12">
        <small>2024 &copy; All rights reserved.</small>
      </div>
  </div>
</div>
</footer>