

#brand-text {
    font-weight: bold;
    text-decoration: none; /* Pour supprimer le soulignement par défaut des liens */
}

.text-light-blue {
    color: #ADD8E6; /* Bleu clair */
}

.text-dark-blue {
    color: #00008B; /* Bleu foncé */
}
.text{
    color: #00008B;
}


.custom-check-box{
    margin-top: 40px;
}

.custom-title{
    margin-bottom:15px ;
}