<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Page content -->
      <div class="container-fluid mt--7" style="padding-top: 100px;"> <!-- Ajout du padding ici -->
        <div class="row">
          <div class="col">
            <div class="card shadow border-0">
              <div id="map-canvas" class="map-canvas" data-lat="40.748817" data-lng="-73.985428" style="height: 600px;"></div>
              <div class="map-container">
                <div class="map-frame">
                  <div id="map"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
